
// Altes Zeug
/*
body {
    background: #303030;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px; 
}
  
  img {
    border-radius: 1000000px; }
  
  section {
    margin-top: 30px; }
  
  a {
    text-decoration: none;
    color: white; }
  
  .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 150px; }
  
  .profile-name {
    font-family: 'Open Sans Bold', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    padding-top: 15px; }
  
  .links {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding: 20px;
    max-width: 480px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    transition: all 400ms ease-in-out;
    background-color: #424242; }
  
  .links:first-child {
    margin-top: 0px; 
}
  
  .links:hover {
    box-shadow: 0 0 20px rgba(15, 15, 15, 0.8);
    transform: scale(1.05); }
  
  .bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold; }
  
  .social-logo {
    width: auto;
    stroke-width: 1.75;
    stroke: #2a9d8f;
    min-height: 90%; }
  
  .social-logo .in-button {
    flex-grow: 1; }
  
  .socials {
    display: flex;
    justify-content: center;
    margin: 15px; }
  
  .round-box {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    top: 50%;
    position: relative;
    height: fit-content;
    height: 3.5em;
    width: 3.5em;
    transition: all 400ms ease-in-out; }
  
  .round-box:hover {
    filter: drop-shadow(0 0 10px rgba(15, 15, 15, 0.8));
    transform: scale(1.1); }
  
  #loadOverlay {
    display: none; }
*/