@import '_variables.scss';
@import 'spinner.scss';

body {
    margin: 0;
    font-family: 'Poppins Regular', sans-serif;
    overflow-x: hidden;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: $light-gray;
}
a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 324px;
    width: 100vw;
    background-color: $light-blue;
    
    /* image background
    
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
    background-size: cover;
    */
    
}

.main {
    background-color: white;
    
    // outer positioning
    width: 100%;
    margin-top: -80px;

    // Inner Positioning
    padding-top: 0px;
    padding-bottom: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;

    // styling
    

    .Usericon {

        $Usericon-Height : 150px;
        margin-top: -75px ;
        position: relative;
        width: 150px; 
        height: auto;
        border-radius: 1000px;

    }
    .Usertext {
        margin-top: 10px;

        // text
        text-align: center;

        .mainline {
            font-size: 1.5em;
            font-family: 'Poppins Bold', sans-serif;
        }
        .subline {
            margin-top: 0.5em;
            font-size: 1em;
        }
    }
    .ButtonContainer {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .Button {
            background-color: $dark-blue;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 15px;
            width: 70%;
            color: #fff;
            border-radius: 1000px;
            border: solid $dark-blue 0.15em;
            transition: all $animation-time;

            // font
            font-size: 1em;
            text-align: center;

        }
        .Button:hover {
            background-color: #fff;
            color: $dark-blue; 
        }
    }
    .ButtonContainer:first-child {
         margin-top: 0px !important;
    }
}

.BottomText {
    font-size: 0.75em;
    margin-bottom: 20px;
    margin-top: 20px;
    
    .ExtraBold {
        font-family: 'Poppins Bold';
    }
}

// responsive 
@media screen and (min-width: $phone) {
    .main {
        width: 80%;
        max-width: 800px;
        border-radius: 10px;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    }
}