.progress-ring .progress-ring__circle {
  stroke-dasharray: 10 20;
  transition: 20s stroke-dashoffset;
  transform: rotate(-45deg);
  transform-origin: 50% 50%; }

body {
  margin: 0;
  font-family: 'Poppins Regular', sans-serif;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: #f6f6f4; }

a {
  text-decoration: none;
  color: inherit; }

.header {
  height: 324px;
  width: 100vw;
  background-color: #A5B8E8;
  /* image background
    
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
    background-size: cover;
    */ }

.main {
  background-color: white;
  width: 100%;
  margin-top: -80px;
  padding-top: 0px;
  padding-bottom: 400px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .main .Usericon {
    margin-top: -75px;
    position: relative;
    width: 150px;
    height: auto;
    border-radius: 1000px; }
  .main .Usertext {
    margin-top: 10px;
    text-align: center; }
    .main .Usertext .mainline {
      font-size: 1.5em;
      font-family: 'Poppins Bold', sans-serif; }
    .main .Usertext .subline {
      margin-top: 0.5em;
      font-size: 1em; }
  .main .ButtonContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main .ButtonContainer .Button {
      background-color: #364EA3;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 15px;
      width: 70%;
      color: #fff;
      border-radius: 1000px;
      border: solid #364EA3 0.15em;
      transition: all 300ms;
      font-size: 1em;
      text-align: center; }
    .main .ButtonContainer .Button:hover {
      background-color: #fff;
      color: #364EA3; }
  .main .ButtonContainer:first-child {
    margin-top: 0px !important; }

.BottomText {
  font-size: 0.75em;
  margin-bottom: 20px;
  margin-top: 20px; }
  .BottomText .ExtraBold {
    font-family: 'Poppins Bold'; }

@media screen and (min-width: 500px) {
  .main {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); } }
